.card {
  border: 2px solid #F7F4DB;
  background-color: #CDB578;
  width: 300px;
  justify-content: space-evenly;
  text-align: center;
  margin: 10px;
  font-family: 'Acme', sans-serif; }

.fav-icon {
  background-color: #E6D7B2;
  height: 40px; }

.card .favorite {
  display: none; }

.card div {
  display: flex;
  justify-content: space-between;
  margin: 0;
  flex-wrap: wrap; }

.card-display {
  display: flex;
  font-size: .7em;
  margin: 0;
  padding: 0px 30px; }

.fa-sun {
  background-color: #E6D7B2;
  color: #9A946A;
  font-size: xx-large;
  margin: 6px 0px 0px 262px; }

.fa-sun:hover {
  color: #856B27; }

.title {
  text-align: left;
  width: 100%; }

.value {
  padding: 0px 0px 0px 7px;
  text-align: right; }
