.card-container {
  background-color: #0C0A0A;
  color: #F7F4DB;
  overflow: scroll;
  width: 100%;
  height: 35%;
  padding-bottom: 30px; }

.card-header {
  padding: 10px 0px 0px;
  font-size: 1.5em; }

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px 100px;
  width: 90%; }
